.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: var(--gap-lg);
  z-index: 10;
}

.nav {
  margin: 0 var(--gap-md);
  width: 100%;
  max-width: var(--main-content);
}

.links {
  padding: var(--gap-sm);
  border-radius: 64px;
  display: flex;
  justify-content: center;
  gap: var(--gap-md);
  background-color: var(--bg);
  width: max-content;
  margin: 0 auto;
}

.button {
  border: none;
  color: var(--fg);
  background-color: var(--bg-card);
  padding: var(--gap);
  height: 56px;
  border-radius: 64px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color var(--tran-cubic-out),
    background-color var(--tran-cubic-out);
}

.button:hover {
  color: var(--bg);
  background-color: var(--fg);
}

@media screen and (max-width: 568px) {
  .links {
    width: 100%;
    gap: unset;
    justify-content: space-between;
  }
  .label {
    display: none !important;
    opacity: 0 !important;
    max-width: 0 !important;
  }
}
