.wave {
  fill: var(--bg);
  transition: fill var(--transition-slower);
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  transform: translateY(1px);
  z-index: 2;
}
