.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
}

.subtitle {
  color: var(--secondary-foreground);
  font-size: var(--font-base);
  font-weight: normal;
}

.hello {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .greeting,
  .name {
    margin-block-start: 0;
    display: inline-block;
  }
  .greeting {
    color: var(--brand);
    overflow: hidden;
    white-space: nowrap;
  }
}
