.hello {
  --font-super: clamp(1.5rem, 0vw + 1.5rem, 1.5rem);
  font-size: var(--font-super);
  display: flex;
  flex-wrap: wrap;
  .greeting,
  .name {
    margin-block-start: 0;
    display: inline-block;
  }
  .greeting {
    color: var(--brand);
    overflow: hidden;
    white-space: nowrap;
  }
  .placeholder {
    height: 42px;
  }
}
