.cmdk {
  height: 500px;
}

.header {
  padding: var(--space);
  border-bottom: var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.header time {
  color: var(--sub-fg);
}

.title {
  font-weight: 500;
}

.content {
  padding: 0 var(--space) var(--space) var(--space);
}

.empty {
  color: var(--sub-fg);
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.link {
  min-width: 100%;
}

.item {
  width: 100%;
  padding: var(--space-xs) var(--space);
  border-radius: var(--radius-sm);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  justify-content: space-between;
  transition: var(--transition-slow);
}

.item > span {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.item svg {
  height: 20px;
  width: 20px;
}

.item:focus,
.item:hover,
.item.active {
  background-color: var(--button-bg);
  transition: var(--transition);
}
.item:focus {
  background-color: var(--button-bg-hover);
  outline: none;
}

.search {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  height: 40px;
  padding: 0 var(--space);
}

.input {
  padding: var(--space-sm) 0;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: var(--font-base);
  height: 100%;
  width: 100%;
}

.heading {
  color: var(--sub-fg);
  font-size: var(--font-xs);
  font-weight: normal;
  margin-top: var(--space);
}
