.journal {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 100%;
  height: 10rem;
  position: relative;
  border-radius: inherit;
}

.journal h3 {
  color: var(--link);
  transition: color var(--transition-slower);
}

.date {
  font-size: var(--font-sm);
  font-family: var(--font-mono);
  color: var(--sub-fg);
}

@media (hover: hover) and (pointer: fine) {
  .journal h3:hover {
    color: var(--link-hover);
  }
}
