.wrapper {
  margin: var(--space-md) 0;
  display: flex;
  align-items: flex-start;
  gap: var(--space-xl);
}

.grid {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  max-width: 36rem;
}
