.trigger {
  border: none;
  outline: transparent;
  padding: 0;
  background-color: transparent;
  color: var(--sub-fg);
  cursor: pointer;
  transition: color var(--transition-slower);
  &:hover {
    color: var(--heading-fg);
  }
}
