.button {
  border: none;
  background-color: var(--zinc-200);
  border-radius: 48px;
  padding: var(--space-sm) var(--space) var(--space-sm) 0.4rem;
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: background-color var(--transition-slower),
    color var(--transition-slower), scale var(--transition-slowest);
  color: var(--zinc-900);
}

.button .filled {
  fill: var(--fg);
  color: var(--fg);
  transition: fill var(--transition-slower), color var(--transition-slower);
}

.emojiwrapper {
  position: relative;
  translate: 10px 0;
}

.emojis {
  position: absolute;
  width: 100%;
}
.emoji {
  position: absolute;
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--emerald-600);
    color: var(--zinc-200);
    scale: 1.05;
  }
  .button:active {
    scale: 0.98;
    background-color: var(--emerald-700);
  }

  .button:hover .filled {
    fill: var(--zinc-200);
    color: var(--zinc-200);
  }

  .button:active .filled {
    fill: var(--zinc-300);
    color: var(--zinc-300);
  }
}
