.note {
  display: flex;
  padding: var(--gutter-md);
  gap: var(--gutter);
  background-color: var(--note-bg);
  border-radius: var(--border-radius);
  border: 2px solid var(--border-color);
  .prose {
    & > * + * {
      margin-block-start: 1rem;
    }
  }
  .icon {
    margin-top: 2px;
    min-height: 24px;
    min-width: 24px;
    max-height: 24px;
    max-width: 24px;
  }
}
