.stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.star {
  position: absolute;
  border-radius: 50%;
  animation: twinkle 2s infinite;
  aspect-ratio: 1 / 1;
  opacity: 0;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
