.wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  min-width: 100%;
}

.track {
  display: flex;
  align-items: center;
}

.albumArt {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: var(--radius);
}

.heading {
  display: flex;
}

.artist {
  color: var(--fg-mute);
  margin-bottom: 0;
}

.explicit {
  color: var(--bg);
  background-color: var(--fg-dim);
  border-radius: var(--radius-sm);
  padding: 0 var(--gap-xs);
}

.progress {
  height: 2px;
  width: 0;
  background-color: var(--fg-bright);
  margin: var(--gap-sm) 0;
}

.recentlyPlayed {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  margin: var(--gap-lg) 0;
}

.title {
  font-weight: 500;
  cursor: pointer;
}