.wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  min-width: 100%;
  position: relative;
  padding: var(--space);
  border-radius: var(--radius);
  overflow: hidden;
}

.backgroundArt {
  z-index: -2;
  opacity: 0;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: opacity var(--transition) !important;
}

.track {
  display: flex;
  align-items: center;
}

.albumArt {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: var(--radius);
}

.heading {
  display: flex;
}

.artist {
  color: var(--fg-mute);
  margin-bottom: 0;
}

.explicit {
  color: var(--paper-2);
  background-color: var(--paper-10);
  border-radius: var(--radius-sm);
  padding: 0 var(--space-sm);
  margin-left: var(--space-xs);
}

.progress {
  height: 2px;
  width: 0;
  background-color: var(--fg-bright);
  margin: var(--gap-sm) 0;
}

.title {
  font-weight: 500;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .wrapper:hover > .backgroundArt {
    opacity: 0.15 !important;
    animation: slide 10s linear infinite;
  }
}

@media screen and (max-width: 668px) {
  .wrapper {
    padding-inline: 0;
  }
}

@keyframes slide {
  0% {
    opacity: 0.15;
    object-position: top;
  }
  50% {
    object-position: center;
    opacity: 0.15;
  }
  100% {
    object-position: bottom;
    opacity: 0.15;
  }
}
