.switch {
  border: none;
  background-color: transparent;
  border-radius: var(--radius-full);
  color: var(--heading-fg);
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: scale var(--transition-slowest), color var(--transition-slower),
    background-color var(--transition-slower);
  display: none;
}

.switch svg {
  min-height: 24px;
  max-height: 24px;
  min-width: 24px;
  max-width: 24px;
  stroke-width: 2;
}

@media (hover: hover) and (pointer: fine) {
  .switch:hover {
    scale: 1.05;
  }
  .switch:active {
    scale: 0.95;
  }
}

@media screen and (max-width: 668px) {
  .switch {
    display: flex;
  }
}
