.link {
  margin-bottom: var(--space-md);
}

.badge {
  background-color: var(--badge-bg);
  color: var(--badge-fg);
  font-size: var(--font-size-sm);
  border-radius: 32px;
  padding: var(--space-xs) var(--space);
  font-weight: 500;
  max-width: max-content;
  margin-bottom: var(--space-md);
}

.header {
  margin-bottom: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.details {
  color: var(--secondary-fg);
  font-size: var(--font-size-sm);
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 100%;
}

.text,
.footer {
  max-width: 36rem;
}

.journal {
  display: flex;
  gap: var(--space-lg);
  position: relative;
  margin-bottom: 0;
}

/* Fix this later - The line height does not seem
to be equal like it is on the about page. */
.journal :where(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 0 !important;
}

.journal * {
  margin-bottom: var(--space);
}

.signature {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  align-items: flex-end;
  margin: var(--space-md) 0;
}

.signature svg {
  width: 150px;
  fill: var(--brand);
}

.signature cite {
  font-size: var(--font-size-sm);
}

.footer {
  position: relative;
}

.sticky {
  position: sticky;
  bottom: var(--space-md);
  width: 100%;
  max-width: 36rem;
  margin: var(--space-md) 0;
  display: flex;
  justify-content: center;
  height: max-content;
}

.tocwrapper {
  position: sticky;
  top: var(--space-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--space);
  margin: var(--space) 0;
  height: max-content;
}

.tocanchor,
.tocanchor a {
  margin: 0 0 var(--space-xs) 0;
  font-size: var(--font-size-sm);
  color: var(--secondary-fg);
}

.tocanchor a [data-level="two"] {
  padding-left: 1rem;
}

.tocanchor a[data-level="three"] {
  padding-left: 1.5rem;
}

.tocanchor a[data-level="four"] {
  padding-left: 2rem;
}

.tocanchor a:hover {
  color: var(--brand-alt);
}

.active {
  color: var(--brand-alt) !important;
}

@media screen and (max-width: 868px) {
  .journal {
    flex-direction: column-reverse;
  }
  .tocwrapper {
    position: unset;
    top: unset;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 668px) {
  .signature svg {
    width: 125px;
  }
}
