.link {
  pointer-events: all;
  transition: color var(--transition-slower),
    font-weight var(--transition-slower);
  font-weight: 450;
}

.active {
  cursor: default;
  font-weight: 500;
  color: var(--zinc-900);
}

.link:not(.active) {
  color: var(--zinc-500);
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .link:not(.active):hover {
    color: inherit;
  }
  .active:hover {
    color: var(--zinc-900);
  }
}
