@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-fill: #fff;
  --color-fill-secondary: #fbfbfd;
  --color-fill-tertiary: #f5f5f7;
  --color-fill-quaternary: #252525;

  --color-fill-blue: #0071e3;
  --color-fill-blue-secondary: #f6fbff;

  --color-fill-gray: #1d1d1f;
  --color-fill-gray-secondary: #86868b;
  --color-fill-gray-tertiary: #d2d2d7;
  --color-fill-gray-quaternary: #e8e8ed;

  --color-figure-gray: #1d1d1f;
  --color-figure-gray-secondary: #6e6e73;
  --color-figure-gray-secondary-alt: #515154;
  --color-figure-gray-tertiary: #86868b;
  --color-figure-light-gray: #696969;

  --bg: var(--color-fill);
  --fg: var(--color-figure-gray);

  --header-bg: var(--color-fill);
  --header-scroll-bg: var(--color-fill);
  --header-fg: var(--color-figure-gray-secondary);
  --header-active-fg: var(--color-figure-gray);

  --footer-bg: var(--color-fill-tertiary);
  --footer-heading-fg: var(--color-figure-gray);
  --footer-fg: var(--color-figure-gray-secondary-alt);
  --footer-active-fg: var(--color-figure-gray);

  --border: 1px solid var(--color-fill-gray-tertiary);

  --note-bg: var(--color-fill);

  --orange: #ff9500;
  --teal: #30b0c7;
  --mint: #00c7be;
  --blue: #007aff;

  --brand: var(--blue);

  --trees: #059669;
  --fire: var(--color-fill);
  --smoke: var(--color-fill-gray-tertiary);

  --main-content-width: 668px;
  --prose-width: 668px;
  --nav-height: 54px;

  --border-radius: 12px;

  --gutter-xxs: 2px;
  --gutter-xs: 4px;
  --gutter-sm: 8px;
  --gutter: 16px;
  --gutter-md: 24px;
  --gutter-lg: 32px;
  --gutter-xl: 48px;
  --gutter-xxl: 64px;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-md: 1.1rem;
  --font-lg: 1.2rem;
  --font-xl: 1.3rem;
  --font-xxl: 1.4rem;

  --font-sans: "Inter", "SFPro", system-ui, sans-serif;
  --font-serif: "Noto Serif", "Times New Roman", serif;
  --font-mono: "Noto Sans Mono", "SF Mono", monospace;

  --transition: 200ms cubic-bezier(0.25, 1, 0.5, 1);
  --transition-slow: 400ms cubic-bezier(0.25, 1, 0.5, 1);
  --transition-slower: 600ms cubic-bezier(0.25, 1, 0.5, 1);
  --stagger: 0;
  --delay: 120ms;
  --start: 0ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fill: #000;
    --color-fill-secondary: #161617;
    --color-fill-tertiary: #1d1d1f;

    --color-fill-blue: #0071e3;
    --color-fill-blue-secondary: #001931;

    --color-fill-gray: #f5f5f7;
    --color-fill-gray-secondary: #6e6e73;
    --color-fill-gray-tertiary: #424245;
    --color-fill-gray-quaternary: #333336;

    --color-figure-gray: #f5f5f7;
    --color-figure-gray-secondary: #86868b;
    --color-figure-gray-secondary-alt: #a1a1a6;
    --color-figure-gray-tertiary: #6e6e73;
    --color-figure-light-gray: #9a9a9e;

    --teal: #40cbe0;
    --orange: #ff9f0a;
    --mint: #63e6e2;

    --brand: var(--orange);

    --header-scroll-bg: var(--color-fill-secondary);

    --note-bg: var(--color-fill-secondary);

    --fire: var(--orange);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: var(--font-sans);
  font-size: 17px;
  background-color: var(--color-fill);
  color: var(--color-figure-gray);
}

body {
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: var(--color-fill);
  color: var(--color-figure-gray);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-fg);
  font-weight: 600;
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-lg);
}

h3 {
  font-size: var(--font-md);
}

h4 {
  font-size: var(--font-base);
}

h5 {
  font-size: var(--font-sm);
}

h6 {
  font-size: var(--font-xs);
}

code,
pre {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
  font-size: 14px;
}

pre {
  padding: var(--gutter) var(--gutter-md);
  border-radius: var(--border-radius);
}

a {
  color: var(--brand);
  text-decoration: none;
  transition: var(--transition);
  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  font-size: var(--font-md);
  font-style: italic;
  font-family: var(--font-serif);
  text-align: center;
  color: var(--brand);
  max-width: 568px;
  margin: 0 auto;
}

/* Style for ordered list numbers */
ol li::marker {
  color: var(--color-figure-gray-tertiary); /* Change to your preferred color */
}

/* Style for unordered list bullets */
ul li::marker {
  color: var(--color-figure-gray-tertiary); /* Change to your preferred color */
}

::selection {
  background: var(--color-fill-gray-tertiary);
}
::-moz-selection {
  background: var(--color-fill-gray-tertiary);
}

.gradient {
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: linear-gradient(0deg, var(--bg-rgba) 0%, transparent 100%);
  pointer-events: none;
  user-select: none;
}

.divider {
  width: 100%;
  max-width: 200px;
  height: 1px;
  border-radius: 4px;
  background-color: var(--color-fill-gray-tertiary);
  margin: var(--gutter-xl) auto;
}

#root,
#__next {
  isolation: isolate;
}
