.prose {
  & > * + * {
    margin-block-start: 1rem;
  }
  .back {
    display: inline-flex;
    align-items: center;
    gap: var(--gutter-xs);
    border-bottom: none;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--gutter-xl);
    .published {
      color: var(--sub-fg);
      font-size: var(--font-sm);
    }
    @media screen and (max-width: 668px) {
      align-items: flex-start;
    }
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: var(--gutter-xl);
    .link {
      display: inline-flex;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border-bottom: none;
      align-items: center;
      gap: var(--gutter-xs);
      width: max-content;
      .icon {
        min-height: 20px;
        min-width: 20px;
        max-height: 20px;
        max-width: 20px;
      }
    }
    @media screen and (max-width: 668px) {
      flex-direction: column;
      gap: var(--gutter-md);
      .link:nth-child(2) {
        margin-left: auto;
      }
    }
  }
}
