.prose {
  & > * + * {
    margin-block-start: 1rem;
  }
  .journals {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    margin-top: var(--gutter);
    .journal {
      border: none;
      display: flex;
      flex-direction: column;
      .link {
        border-bottom: none;
        display: inline-block;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        font-size: 500;
        color: var(--brand);
      }
      .published {
        font-size: 14px;
        color: var(--color-figure-gray-secondary);
      }
      @media (hover: hover) {
        &:hover {
          .title::after {
            width: 100%;
          }
        }
      }
    }
  }
}
