.main {
  width: 100%;
  max-width: var(--main-content-width);
  margin: 0 auto;
  padding: var(--gutter-xxl) var(--gutter-md);
  .title {
    margin-block-start: 1rem;
  }
  .journals {
    display: flex;
    flex-direction: column;
    .journal {
      color: var(--fg);
      border: none;
      display: flex;
      flex-direction: column;
      .link {
        border-bottom: none;
        .title {
          color: var(--link);
          display: inline-block;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          @media screen and (max-width: 568px) {
            font-size: var(--font-md);
            line-height: 1.4;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 2px;
            border-radius: 4px;
            background-color: var(--link);
            transition: width var(--transition);
          }
        }
      }
      .published {
        font-size: 14px;
        color: var(--sub-fg);
      }
      @media (hover: hover) {
        &:hover {
          .title::after {
            width: 100%;
          }
        }
      }
    }
  }
}
