.wrapper {
  background-color: var(--bg);
  z-index: 1;
  width: 100%;
}

.page {
  max-width: var(--main-content);
  min-height: 100vh;
  padding: calc(var(--gap-2xl) + var(--gap)) var(--gap-md) var(--gap-lg)
    var(--gap-md);
  margin: 0 auto 24rem auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

@media only screen and (max-width: 45rem) {
  .wrapper {
    flex-direction: column;
    max-width: 100%;
    gap: 0;
  }
  .page {
    margin-bottom: 30rem;
  }
}
