.wrapper {
  background-color: var(--bg);
  z-index: 1;
  width: 100%;
}

.page {
  max-width: var(--main-content);
  min-height: 100vh;
  padding: var(--gap-2xl) var(--gap-md) var(--gap-lg) var(--gap-md);
  margin: 0 auto 15rem auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.intro {
  top: var(--gap-2xl);
}

.intro p {
  color: var(--fg-dim);
  margin-bottom: 1rem;
}

.profile {
  width: 100%;
  height: auto;
  margin-top: var(--gap-xl);
}

@media only screen and (max-width: 45rem) {
  .wrapper {
    flex-direction: column;
    max-width: 100%;
    gap: 0;
  }

  .page {
    margin-bottom: 20rem;
  }
  .intro {
    position: relative;
    top: 0;
  }

  .intro,
  .wrapper {
    flex: 1;
  }
}
