.article {
  max-width: var(--partial-content-width);
  font-family: var(--serif);
}

.header > * {
  display: block;
}

.header > * + * {
  margin-block-start: 1.5rem;
}

.prose > * + * {
  margin-block-start: 1.5rem;
}

.back {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: var(--font-body);
  font-family: var(--sans);
}

.icon {
  width: var(--font-body);
  height: var(--font-body);
}
