.footer {
  padding: var(--space-xl) 0;
  font-size: var(--font-size-sm);
  background-color: var(--card-bg);
  transition: background-color var(--transition-slower);
}

.content {
  padding: 0 var(--space-md);
  max-width: var(--main-content);
  margin: 0 auto;
}

.content p {
  color: var(--secondary-fg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space);
  margin: var(--space) 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.copyright {
  margin-top: var(--space-xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--secondary-fg);
}

.last {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  color: var(--secondary-fg);
  fill: var(--secondary-fg);
}

.signature {
  color: var(--brand);
  fill: var(--brand);
  margin-bottom: var(--space);
}

.signature svg {
  width: 200px;
}

.address,
.lastupdated {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  gap: var(--space-xs);
}

@media screen and (max-width: 668px) {
  .signature svg {
    width: 150px;
  }
}
