.wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
}

.ascii {
  padding: 0;
  line-height: 1.2;
  white-space: pre;
  font-weight: 700;
  font-family: var(--font-mono);
  color: var(--trees);
  font-size: var(--font-sm);
  background-color: transparent;
  user-select: none;
}

.smoke {
  color: var(--smoke);
}

.fire {
  color: var(--fire);
}

.firefly {
  color: var(--fire);
}

.tent {
  color: var(--accent);
}

@media screen and (max-width: 668px) {
  .ascii {
    font-size: var(--font-xs);
  }
}
