.section {
  margin-bottom: var(--space-xl);
}

.section > p {
  max-width: 32rem;
  margin: var(--space) 0;
}

.gallery {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
  margin: var(--space-lg) 0;
}

.imagewrapper {
  cursor: zoom-in;
}

.image {
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
  transition: scale var(--transition-cubic-out);
  border-radius: var(--radius);
}

.imagewrapper:hover > .image {
  scale: 1.05;
}

.imagewrapper:active > .image {
  scale: 1;
}
