.gallery {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
  margin: var(--gap-lg) 0;
}

.imagewrapper {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: zoom-in;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: var(--tran-cubic-out);
}

.imagewrapper:hover > .image {
  scale: 1.1;
}

.imagewrapper:active > .image {
  scale: 1;
}
