.header {
  width: 100%;
  height: var(--nav-height);
  margin-top: var(--gutter-xxl);
  isolation: isolate;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  position: sticky;
  top: 0;
  isolation: isolate;
  z-index: 10;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--bg);
    opacity: 0.8;
    z-index: -1;
    transition: var(--transition);
    transition-duration: 1;
  }
  &.scroll {
    &::before {
      background-color: var(--header-scroll-bg);
    }
  }
  .nav {
    width: 100%;
    max-width: var(--main-content-width);
    padding: 0 var(--gutter-md);
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .heading {
      font-size: var(--font-md);
      font-weight: 500;
      opacity: 0;
      transition: var(--transition);
      transition-duration: 1;
      &.scroll {
        opacity: 1;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: var(--gutter-md);
      a {
        border: none;
        color: var(--header-fg);
        text-decoration: none;
        transition: var(--transition);
        font-size: var(--font-sm);
        &:hover,
        &.active {
          color: var(--header-active-fg);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: var(--gutter-md);
  }
  
}