.header {
  width: 100%;
  height: var(--nav-height);
  margin-top: 72px;
  isolation: isolate;
  background: var(--bg-rgba);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  position: sticky;
  top: 0;
  isolation: isolate;
  z-index: 10;
  // Testing without the pseudo element
  // &::before {
  //   display: block;
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   height: 100%;
  //   background-color: var(--bg);
  //   opacity: 0.7;
  //   z-index: -1;
  // }
  .nav {
    width: 100%;
    max-width: var(--main-content-width);
    padding: 0 var(--gutter-md);
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gutter-md);
    a {
      border: none;
      color: var(--sub-fg);
      &.active {
        color: var(--heading-fg);
      }
    }
  }
}
