.local, .external {
    max-width: max-content;
    display: inline-flex;
    align-items: center;
    gap: var(--gap-2xs);
    font-weight: 500;
  }

  .local {
    padding: var(--gap-sm) var(--gap);
    border-radius: var(--radius);
  }

  .local:hover {
    background-color: var(--bg-button);
  }