.main {
  width: 100%;
  max-width: var(--main-content);
  min-height: 100vh;
  margin: 0 auto;
  padding: 120px 32px;
  display: flex;
  flex-direction: column;
}

.gradient {
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: 120px;
  width: 100%;
  background: linear-gradient(0deg, var(--bg) 0%, transparent 100%);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 80px 24px;
  }
  .gradient {
    height: 80px;
  }
}
