.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--card-bg);
  padding: var(--space) var(--space-md);
  border-radius: var(--radius);
  cursor: pointer;
  color: var(--fg);
  align-items: unset;
  max-width: unset;
}

.card,
.card * {
  transition: scale var(--transition-slowest),
    border-radius var(--transition-slowest),
    box-shadow var(--transition-slowest), color var(--transition-slower),
    background-color var(--transition-slower);
}

.heading {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  margin-bottom: 0;
}

.title {
  margin-bottom: 0;
}

.analytics {
  display: flex;
  align-items: center;
}

.analytics span {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.badge {
  background-color: var(--badge-bg);
  color: var(--badge-fg);
  max-width: max-content;
  border-radius: 32px;
  padding: var(--space-xs) 0.625rem;
  margin: var(--space-sm) 0;
  font-weight: 500;
  font-size: var(--font-size-xs);
}

.empty {
  margin: 0.2rem 0;
  height: 2.75rem;
}

.date {
  color: var(--secondary-fg);
}

.description {
  margin: 0 0 var(--space-md) 0;
  font-weight: 450;
}

.card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-sm);
}

.link {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2xs);
  color: var(--brand);
}

.icon,
.arrow {
  width: var(--font-size-sm);
}

.arrow {
  transition: translate var(--transition-slower);
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    scale: 1.025;
    border-radius: 18px;
    box-shadow: var(--shadow);
    color: unset;
  }

  .card:hover .link {
    color: var(--brand-alt);
  }

  .card:hover .arrow {
    translate: 4px 0;
  }

  .card:active {
    scale: 0.99;
  }
}
