.wrapper header {
  max-width: 36rem;
  margin-bottom: var(--space-md);
}

.snippet {
  margin-bottom: var(--space-md);
  max-width: 36rem;
}

.history {
  margin: var(--space-md) 0;
}

.grid {
  margin: var(--space-md) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--space-md);
}

.filtertag {
  color: var(--void-5);
}

.snippet .content *,
.snippet header,
.snippet footer {
  margin: var(--space-sm) 0;
}

.snippet .content p {
  margin: var(--space) 0;
}

.link {
  margin-bottom: var(--space);
}

.author {
  color: var(--void-6);
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.badge {
  background-color: var(--badge-bg);
  color: var(--badge-fg);
  max-width: max-content;
  border-radius: 32px;
  padding: var(--space-xs) var(--space);
  margin: var(--space-sm) 0;
  font-weight: 500;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  padding: 0;
  margin: 0;
  margin: 0 0 var(--space) 0;
}

.tag {
  color: var(--void-6);
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: color var(--transition);
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: var(--space-lg);
  font-size: var(--font-size-sm);
}

@media (hover: hover) and (pointer: fine) {
  .tag:hover {
    color: var(--void-10);
  }
}

@media screen and (max-width: 668px) {
  .signature svg {
    width: 125px;
    fill: var(--primary-dark);
  }
}
