.topArtists {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  flex-wrap: wrap;
  margin: var(--gap-lg) 0;
}

.artist {
  transition: all var(--tran-slow);
  flex: 1;
  max-width: max-content;
}

.topArtists:hover > .artist {
  transform: scale(1.01);
}

.topArtists:hover > .artist:not(:hover) {
  opacity: 0.5;
  transform: scale(1);
}
