.section {
  margin: var(--space-md) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artists {
  display: inline-flex;
  align-items: center;
  margin: var(--space-md) 0;
  flex-direction: row-reverse;
}

.artist {
  aspect-ratio: 1 / 1;
  height: 150px;
  width: auto;
  position: relative;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: scale var(--transition-cubic-out);
}

.artist:not(:last-child) {
  margin-left: -60px;
  transition: margin var(--transition-cubic-out),
    scale var(--transition-cubic-out);
  transition-duration: 300ms;
}

.image {
  border-radius: var(--radius-full);
  transition: border var(--transition-cubic-out);
  transition-duration: 300ms;
  padding: var(--space-xs);
}

@media (hover: hover) and (pointer: fine) {
  .artist:not(:last-child):hover {
    margin-left: 15px;
  }

  .artist:hover {
    scale: 1.1;
  }

  .artist:hover > .image {
    border: 4px solid var(--forest);
  }
}

@media screen and (max-width: 868px) {
  .artist {
    height: 125px;
  }
}

@media screen and (max-width: 668px) {
  .artists {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: var(--space-md) auto;
    align-items: center;
    justify-content: center;
  }
  .artist {
    height: 100px;
  }
  .artist:not(:last-child) {
    margin: unset;
  }
}
