.header {
  /* position: sticky;
  top: var(--space-2xl); */
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile {
  height: 6rem;
  width: 6rem;
  border-radius: var(--radius-full);
  margin: 0 auto var(--space) auto;
}

