.header {
  position: sticky;
  bottom: 1rem;
  width: max-content;
  height: max-content;
  margin: 0 auto;
  z-index: 100;
  .navigation {
    display: flex;
    justify-content: flex-end;
    width: max-content;
    margin: 0 auto;
    padding: var(--space);
    border-radius: var(--radius-full);
  }

  @media screen and (max-width: 668px) {
    margin-top: var(--space-xl);
  }
}
