.wrapper {
  position: relative;
  display: flex;
  border-left: var(--border);
  padding: 0 0 var(--gap-md) var(--gap);
}

.wrapper:last-child {
  padding-bottom: 0;
}

.action {
  display: flex;
  align-items: center;
}

.action:hover > .title span {
  color: var(--fg);
}

.title {
  font-weight: 500;
  font-size: 16px;
}

.title span {
  transition: var(--tran);
}

.description p {
  color: var(--fg-dim);
  margin-bottom: 0;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -0.95rem;
  margin-top: -0.1rem;
  background-color: var(--bg);
  padding: var(--gap-xs);
  border-radius: var(--radius-full);
}

.date {
    color: var(--fg-mute);
    display: flex;
}
