---
import Layout from "@/layouts/Layout.astro";
import styles from "@/styles/404.module.scss";
---

<Layout>
  <main class={styles.main}>
    <article class={styles.prose}>
      <h1>404</h1>
      <p>It's okay. I get lost too sometimes.</p>
    </article>
  </main>
</Layout>
