---
import Layout from "@/layouts/Layout.astro";
import styles from "@/styles/404.module.scss";

const pathname = new URL(Astro.request.url).pathname;
---

<Layout>
  <main class={styles.main}>
    <article class={styles.prose}>
      <h1>404</h1>
      <p>Upon a gloomy night so drear,</p>
      <p>Whilst web-searching, faint with fear,</p>
      <p>For ancient tales lost in yore.</p>
      <p>As I navigated, weary thumb,</p>
      <p>Abruptly did a message come,</p>
      <p>And filled my heart with fear,</p>
      <p>Grieving for my dear <i>{pathname}</i>,</p>
      <p>"Inconceivable!" I whispered low,</p>
      <p>"Give thine pages, I emplore!"</p>
      <p>Quoth the server, "404".</p>
    </article>
  </main>
</Layout>
