---
import Layout from "@/layouts/Layout.astro";
import styles from "@/styles/404.module.scss";

const pathname = new URL(Astro.request.url).pathname;

export const prerender = false;
---

<Layout>
  <article class={styles.prose}>
    <h1>404</h1>
    <p>upon a gloomy night so drear,</p>
    <p>whilst web-searching, faint with fear,</p>
    <p>for ancient tales lost in yore.</p>
    <p>as i navigated, weary thumb,</p>
    <p>abruptly did a message come,</p>
    <p>and filled my heart with fear,</p>
    <p>grieving for my dear <i>{pathname}</i>,</p>
    <p>"inconceivable!" i whispered low,</p>
    <p>"give thine pages, i emplore!"</p>
    <p>quoth the server, "404".</p>
  </article>
</Layout>
