---
import Layout from "@/layouts/Layout.astro";
import styles from "@/styles/home.module.scss";
---

<Layout>
  <main class={styles.main}>
    <article class={styles.prose}>
      <h1 class={styles.title}>Hello. I'm Rajbir.</h1>
      <p>Engineer and designer based in Arizona.</p>
      <p>
        CSS wizard 🧙‍♂️. Building slick and accessible interfaces for brilliant
        ideas. Breaking things and learning along the way.
      </p>
      <p>Working towards a small cabin in the forests.</p>
    </article>
  </main>
</Layout>
