

.content {
  width: 100%;
  height: 100%;
  max-width: var(--content-width);
  padding: 10rem var(--spacing-m) 8rem;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 8rem var(--spacing-s) 6rem;
  }
}
