.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.hero h1 {
  text-wrap: balance;
  margin-bottom: 4rem;
}

.subtitle {
  max-width: calc(var(--content-width) / 1.75);
  text-wrap: balance;
}

.section {
  max-width: calc(var(--content-width) / 1.75);
}

.section > * + * {
  margin-block-start: 2rem;
}

.journals > * + * {
  margin-block-start: 1rem;
}