.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.section {
  max-width: var(--partial-content-width);
}

.section > * + * {
  margin-block-start: 1.5rem;
}

.journals > * + * {
  margin-block-start: 0.75rem;
}

.resources {
  display: flex;
  flex-direction: column;
}

.resources > * + * {
  margin-block-start: 0.75rem;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
}
