/* Clamp at 3 lines */
.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
}

.excerpt > * + * {
  margin-block-start: var(--gutter);
}

.link {
  display: block;
  font-family: var(--sans);
  font-size: 20px;
}
