/* Clamp at 3 lines */
.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.excerpt > * + * {
  margin-block-start: var(--gutter);
}

.heading {
  color: inherit;
  transition: inherit;
}

.heading:hover {
  color: inherit;
}

.link {
  width: max-content;
  display: block;
}
