.link {
  pointer-events: all;
  transition: color var(--transition-slow);
  font-weight: 500;
}

.active {
  cursor: default;
  color: var(--forest);
}

.link:not(.active) {
  color: var(--paper-7);
  cursor: pointer;
}

.label {
  margin-left: var(--space-sm);
}

@media (hover: hover) and (pointer: fine) {
  .link:not(.active):hover {
    color: var(--paper-10);
  }
}
