.article {
  max-width: 36rem;
}

.article * {
  margin-bottom: var(--space);
}

.gradient {
  background: linear-gradient(90deg, #007cf0, #00dfd8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
