.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  box-shadow: none;
  padding: var(--gap-md);
  border-radius: var(--radius);
  transition: all var(--tran-slow);
  background-color: var(--bg-bright);
}

.wrapper:hover {
  box-shadow: var(--shadow);
  background-color: var(--bg-bright);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--fg-bright);
  transition: color var(--tran-slow);
}

.description {
  color: var(--fg-dim);
  margin: var(--gap-2xs) 0;
}

.stars {
  display: flex;
  align-items: center;
  gap: var(--gap-2xs);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action {
  color: var(--fg);
}

.action:hover > .wrapper > .title {
  color: var(--fg);
}

.time {
  color: var(--fg-dim);
}

.language {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 0.75rem;
  text-transform: uppercase;
}
