.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter);
  .image {
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    height: auto;
    width: 100%;
  }
  .caption {
    color: var(--sub-fg);
    text-align: center;
    max-width: 468px;
  }
}
