.wrapper,
.substep {
  position: relative;
  display: flex;
  border-left: var(--border);
  border-width: 6px;
  padding: 0 0 var(--space-md) var(--space-lg);
}

.substepwrapper {
  margin: var(--space-md) 0 0 var(--space-sm);
}

.substep {
  border-width: 6px;
}

.wrapper:last-child,
.substep:last-child {
  padding-bottom: 0;
}

.action {
  display: flex;
  align-items: center;
}

.title {
  margin-top: 0;
}

.title span {
  transition: var(--transition);
}

.externalicon {
  height: var(--font-size-lg);
  width: var(--font-size-lg);
  stroke-width: 2.5;
  margin-top: 0.1rem;
}

.caption p {
  margin-bottom: 0;
}

.icon,
.substep .icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -21px;
  background-color: var(--zinc-200);
  padding: var(--space-sm);
  border-radius: var(--radius-full);
}

.substep .icon {
  margin-left: -19px;
}

.date,
.substep .date {
  color: var(--zinc-400);
  display: flex;
}

.substep .date {
  font-size: var(--font-size-sm);
}

@media (hover: hover) and (pointer: fine) {
  .action:hover > .title span {
    color: var(--fg);
  }
}
