.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  box-shadow: none;
  padding: var(--gap);
  border: 1px solid var(--fg-mute);
  border-radius: var(--radius);
  transition: all var(--tran-slow);
  background-color: var(--bg);
}

.wrapper:hover {
  border: 1px solid var(--bg-bright);
  box-shadow: var(--shadow);
  background-color: var(--bg-bright);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: var(--fg-bright);
  transition: color var(--tran-slow);
}

.stars {
  display: flex;
  align-items: center;
  gap: var(--gap-2xs);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action {
  color: var(--fg);
}

.action:hover > .wrapper > .heading > .title {
  color: var(--fg);
}

.time {
  color: var(--fg-dim);
}

.language {
  background-color: var(--fg-mute);
  padding: var(--gap-sm);
  line-height: 1;
  border-radius: var(--radius);
}
