.footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--color-secondary);
	box-shadow: 0 50vh 0 50vh var(--color-secondary);
	padding-bottom: calc(var(--64px) * 2);
}

.content {
	margin: 0 auto;
	width: 100%;
	max-width: var(--content-width);
	padding: var(--spacing-xl) var(--spacing-m) var(--spacing-l);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 32px;
}

.section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.links {
	display: flex;
	flex-direction: column;
	gap: var(--14px);
}

.links h4 {
	font-size: var(--font-h6);
}

.link {
	display: inline-flex;
	align-items: center;
	gap: 4px;
}

.link svg {
	height: var(--font-h6);
	width: var(--font-h6);
}

.tag {
	margin-bottom: var(--24px);
}

@media screen and (max-width: 768px) {
	.content {
		grid-template-columns: 1fr;
		gap: var(--24px);
	}
	.section:first-of-type {
		grid-template-columns: 1fr;
	}
}
