.hero {
  p svg {
    height: 20px;
    width: 20px;
    display: inline;
    margin-bottom: -4px;
  }
}

.other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-md);
  padding-top: var(--space-lg);
  font-size: var(--font-sm);

  .content {
    & > * + * {
      margin-block-start: var(--space-sm);
    }
  }
  .contact {
    display: flex;
    align-items: center;
    gap: var(--space-md);
  }
  .link {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    color: var(--sub-fg);
    transition: var(--transition-slow);
    &:hover {
      color: var(--gray-1);
    }
  }
  .metrics {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    color: var(--sub-fg);
    & strong {
      color: var(--gray-0);
    }
  }
}

@media screen and (max-width: 768px) {
  .other {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
