.searchwrapper {
  margin: var(--space-md) 0;
  max-width: 32rem;
  width: 100%;
  border: var(--border);
  border-radius: 48px;
  padding: var(--space-sm) var(--space);
  outline: none;
  transition: border-color var(--transition-slower);
  background-color: transparent;
  color: var(--fg);
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.search::placeholder {
  color: var(--secondary-fg);
}

.searchwrapper:focus-within {
  border-color: var(--heading-fg);
  box-shadow: var(--shadow);
}

.search {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
