.footer {
  max-width: var(--main-content-width);
  padding: var(--gutter-md);
  display: flex;
  justify-content: space-between;
  margin: 96px auto 24px auto;
  .column {
    flex: 1;
    .header {
      color: var(--sub-fg);
      display: block;
    }
    .linkwrapper {
      cursor: pointer;
      display: inline-flex;
      a {
        border: none;
      }
      & svg {
        margin-top: 4px;
        stroke-width: 3;
        color: var(--link);
      }
    }
  }
}

.content {
  & > * + * {
    margin-block-start: var(--space-sm);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 24px;
  }
}
