.hovercard {
  z-index: 10;
  isolation: isolate;
  width: 300px;
  padding: 24px;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  animation-duration: 400ms;
  backdrop-filter: blur(5px);
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transform, opacity;
  position: relative;
  font-size: 15px;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--lifted-bg);
    opacity: 0.9;
    border-radius: var(--border-radius);
    z-index: -1;
  }
  &[data-state="open"] {
    &[data-side="top"] {
      animation-name: slideDownAndFadeOpen;
    }
    &.hovercard[data-side="right"] {
      animation-name: slideLeftAndFadeOpen;
    }
    &.hovercard[data-side="bottom"] {
      animation-name: slideUpAndFadeOpen;
    }
    &.hovercard[data-side="left"] {
      animation-name: slideRightAndFadeOpen;
    }
  }
  &[data-state="closed"] {
    &[data-side="top"] {
      animation-name: slideDownAndFadeClosed;
    }
    &.hovercard[data-side="right"] {
      animation-name: slideLeftAndFadeClosed;
    }
    &.hovercard[data-side="bottom"] {
      animation-name: slideUpAndFadeClosed;
    }
    &.hovercard[data-side="left"] {
      animation-name: slideRightAndFadeClosed;
    }
  }
}

@keyframes slideUpAndFadeOpen {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFadeOpen {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFadeOpen {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFadeOpen {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUpAndFadeClosed {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(2px);
  }
}

@keyframes slideRightAndFadeClosed {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-2px);
  }
}

@keyframes slideDownAndFadeClosed {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-2px);
  }
}

@keyframes slideLeftAndFadeClosed {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(2px);
  }
}
