.container section:first-of-type {
  margin-top: 0;
}

.heading {
  width: 100%;
  min-height: 400px;
  background: var(--heading-gradient);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

.headingcontent,
.content {
  max-width: var(--main-content);
  width: 100%;
  margin: 0 auto;
}

.headingcontent header {
  max-width: 36rem;
}

.headingcontent {
  padding: 0 var(--space-md) var(--space-lg) var(--space-md);
}

.content {
  padding: var(--space-lg) var(--space-md);
}

@media screen and (max-width: 868px) {
  .heading {
    height: min-content;
    padding-top: var(--space-2xl);
  }
}
