.switch {
  border: none;
  background-color: var(--paper-1);
  border-radius: var(--radius-full);
  color: var(--paper-10);
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: scale var(--transition-cubic-out),
    background-color var(--transition-slow);
}

.switch svg {
  height: 28px;
  width: 28px;
  stroke-width: 2;
}

@media (hover: hover) and (pointer: fine) {
  .switch:hover {
    background-color: var(--paper-2);
    scale: 1.05;
  }

  .switch:active {
    scale: 0.98;
  }
}

@media screen and (max-width: 668px) {
  .switch svg {
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    stroke-width: 2;
  }
}
