.hero {
  max-width: 36rem;
  .link {
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    color: var(--sub-fg);
    transition: var(--transition-slow);
    &:hover {
      color: var(--heading-fg);
    }
    & svg {
      margin-top: 6px;
      stroke-width: 3;
    }
  }
}

@media screen and (max-width: 768px) {
  .hello {
    align-items: flex-start;
  }
  .other {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
