.wrapper header {
  max-width: 36rem;
  margin-bottom: var(--space-md);
}

.trackswrapper {
  display: flex;
  gap: var(--space-md);
}

@media screen and (max-width: 868px) {
  .trackswrapper {
    flex-direction: column;
  }
}
