---
interface Props {
  title?: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Header from "@/core/Header/index.astro";
import Footer from "@/core/Footer/index.astro";
import styles from "@/styles/layout.module.scss";
import "@/styles/globals.scss";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Engineer and designer based in Arizona. CSS wizard. Building slick and accessible 
      interfaces for brilliant ideas."
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <title>Rajbir Johar {title && `| ${title}`}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class={styles.main}>
      <div class={styles.grid}>
        <slot />
      </div>
    </main>
    <div class="divider"></div>
    <Footer />
    <div class="gradient"></div>
  </body>
</html>
