.footer {
  margin: var(--small-gap) auto;
  max-width: var(--main-content);
  padding: 0 var(--gap-med);
}
.title {
  margin-bottom: var(--gap);
  padding-bottom: 0;
  font-size: 1.25rem;
  line-height: inherit;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact {
  display: flex;
  gap: var(--gap-med);
}
.status {
  color: var(--mono-400);
}
@media (max-width: 668px) {
  .contact {
    flex-direction: column;
  }
  .actions {
    flex-direction: column;
    align-items: flex-start;
  }
}
