.footer {
  margin: var(--small-gap) auto var(--big-gap) auto;
  max-width: var(--main-content);
  padding: 0 var(--gap-med);
}
.title {
  margin-bottom: var(--gap);
  padding-bottom: 0;
  font-size: 1.25rem;
  line-height: inherit;
}

/* .selectWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-2);
  color: var(--fg);
  transition: all var(--transition);
  border-radius: var(--radius);
  border: 2px solid var(--accent-2);
}

.selectWrapper svg {
  margin: 0 8px;
} */

/* .select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  font-size: 1.125rem;
  padding: 8px 10px;
  background-color: var(--accent-1);
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
} */

/* .select:hover {
  background-color: var(--accent-2);
} */

.themeWrapper {
  display: flex;
  justify-content: flex-end;
}

.themeSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-radius: var(--radius);
  background-color: var(--accent-1);
}

.themeItem {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: var(--fg);
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.themeItem:hover {
  background-color: var(--accent-2);
  box-shadow: 0 3.3px 6.7px rgba(0, 0, 0, 0.018),
    0 11.2px 22.3px rgba(0, 0, 0, 0.027), 0 25px 100px rgba(0, 0, 0, 0.05);
}

.button {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-1);
  color: var(--fg);
  transition: all var(--transition);
  border-radius: var(--radius);
  cursor: pointer;
}

.button:hover {
  background-color: var(--accent-2);
}
.button svg {
  padding: 0;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact {
  display: flex;
}
.external {
  margin: 0 10px;
  font-size: 1.125rem;
}
.external:hover {
  text-decoration: underline;
}
.external:first-of-type {
  margin-left: 0;
}
.external:last-of-type {
  margin-right: 0;
}
.last {
  color: var(--accent-5);
  text-align: center;
}

@media (max-width: 960px) {
  .contact {
    flex-direction: column;
  }
  .external {
    margin: var(--gap-half) 0;
  }
  .actions {
    flex-direction: column;
    align-items: flex-start;
  }
  .button {
    margin-top: var(--gap-half);
  }
  .themeWrapper {
    justify-content: flex-start;
  }
}
