.footer {
  margin: var(--small-gap) auto var(--big-gap) auto;
  max-width: var(--main-content);
  padding: 0 var(--gap-med);
}
.title {
  margin-bottom: var(--gap);
  padding-bottom: 0;
  font-size: 1.25rem;
  line-height: inherit;
}

.selectWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-2);
  color: var(--fg);
  transition: all var(--transition);
  border-radius: var(--radius);
  border: 2px solid var(--accent-2);
}

.selectWrapper svg {
  margin: 0 8px;
}

.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  font-size: 1.125rem;
  padding: 8px 10px;
  background-color: var(--accent-1);
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.select:hover {
  background-color: var(--accent-2);
}

.button {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-1);
  color: var(--fg);
  transition: all var(--transition);
  border-radius: var(--radius);
  cursor: pointer;
}
.button:hover {
  background-color: var(--accent-2);
}
.button svg {
  padding: 0;
  margin-bottom: -4px;
  margin-right: 4px;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact {
  display: flex;
}
.external {
  margin: 0 10px;
  font-size: 1.125rem;
}
.external:hover {
  text-decoration: underline;
}
.external:first-of-type {
  margin-left: 0;
}
.external:last-of-type {
  margin-right: 0;
}
.last {
  color: var(--accent-5);
  text-align: center;
}

@media (max-width: 960px) {
  .contact {
    flex-direction: column;
  }
  .external {
    margin: var(--gap-half) 0;
  }
  .actions {
    flex-direction: column;
    align-items: flex-start;
  }
  .button {
    margin-top: var(--gap-half);
  }
}
