@import "./font.css";
@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,500;1,6..72,400;1,6..72,500&display=swap");

/* https://www.joshwcomeau.com/css/custom-css-reset/ */

:root {
  /* Spacing */
  --gap-2xs: 0.125rem;
  --gap-xs: 0.25rem;
  --gap-sm: 0.5rem;
  --gap: 1rem;
  --gap-md: 1.5rem;
  --gap-lg: 2rem;
  --gap-xl: 4rem;
  --gap-2xl: 8rem;
  --gap-3xl: 16rem;
  --gap-4xl: 32rem;
  --gap-5xl: 64rem;
  --main-content: 45rem;
  --radius-sm: 5px;
  --radius: 10px;
  --radius-full: 50%;
  --radius-inline: 5px;

  /* Color */
  --hue: 200;
  --bg: hsl(var(--hue) 2% 96%);
  --bg-card: hsl(var(--hue) 2% 99.5%);
  --bg-thumbnail: hsl(var(--hue) 2% 97.5%);
  --bg-button: hsl(var(--hue) 10% 89%);
  --fg: hsl(var(--hue) 10% 23%);
  --fg-dim: hsl(var(--hue) 10% 40%);
  --fg-mute: hsl(var(--hue) 10% 65%);
  --fg-muter: hsl(var(--hue) 10% 83%);
  --fg-bright: hsl(var(--hue) 80% 30%);
  --border: 2px solid var(--fg-muter);
  --shadow: 0px 0.2px 0.9px hsl(var(--hue) 1% 1% / 0.003),
    0px 0.5px 2px hsl(var(--hue) 1% 1% / 0.004),
    0px 0.7px 3.5px hsl(var(--hue) 1% 1% / 0.006),
    0px 1.1px 5.3px hsl(var(--hue) 1% 1% / 0.007),
    0px 1.5px 7.8px hsl(var(--hue) 1% 1% / 0.008),
    0px 2.1px 11.4px hsl(var(--hue) 1% 1% / 0.009),
    0px 2.8px 16.8px hsl(var(--hue) 1% 1% / 0.011),
    0px 4px 25.6px hsl(var(--hue) 1% 1% / 0.014),
    0px 5.8px 41.3px hsl(var(--hue) 1% 1% / 0.018),
    0px 8px 73px hsl(var(--hue) 1% 1% / 0.02);

  /* Typography */
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: "Menlo", "SFMono-Regular", "Consolas", "Liberation Mono",
    monospace;
  --font-serif: "Newsreader", serif;

  /* Transitions */
  --tran: 100ms ease-in-out;
  --tran-slow: 200ms ease-in-out;
  --tran-slower: 300ms ease-in-out;
  --stagger: 0;
  --delay: 120ms;
  --start: 0ms;
}

[data-theme="dark"] {
  --hue: 170;
  --bg: hsl(var(--hue) 2% 4%);
  --bg-card: hsl(var(--hue) 10% 7%);
  --bg-thumbnail: hsl(var(--hue) 10% 5%);
  --bg-button: hsl(var(--hue) 10% 10%);
  --fg: hsl(var(--hue) 10% 97%);
  --fg-dim: hsl(var(--hue) 10% 70%);
  --fg-mute: hsl(var(--hue) 10% 30%);
  --fg-muter: hsl(var(--hue) 10% 12%);
  --fg-bright: hsl(var(--hue) 90% 40%);
  --border: 2px solid var(--fg-muter);
  --shadow: 0px 0.2px 0.9px hsl(var(--hue) 3% 3% / 0.03),
    0px 0.5px 2px hsl(var(--hue) 3% 3% / 0.04),
    0px 0.7px 3.5px hsl(var(--hue) 3% 3% / 0.06),
    0px 1.1px 5.3px hsl(var(--hue) 3% 3% / 0.07),
    0px 1.5px 7.8px hsl(var(--hue) 3% 3% / 0.08),
    0px 2.1px 11.4px hsl(var(--hue) 3% 3% / 0.09),
    0px 2.8px 16.8px hsl(var(--hue) 3% 3% / 0.11),
    0px 4px 25.6px hsl(var(--hue) 3% 3% / 0.14),
    0px 5.8px 41.3px hsl(var(--hue) 3% 3% / 0.18),
    0px 8px 73px hsl(var(--hue) 3% 3% / 0.2);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--bg);
  color: var(--fg);
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 1.2rem;
}

p {
  color: var(--fg-dim);
}

a {
  color: var(--fg-bright);
  text-decoration: none;
  transition: all var(--tran);
}

a:hover {
  color: var(--fg);
}

em {
  font-family: var(--font-serif);
  font-size: calc(1em + 1px);
  font-style: italic;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: var(--font-mono);
  font-size: 0.9rem;
  background-color: var(--bg-card);
  padding: var(--gap-xs) var(--gap-sm);
  border-radius: 5px;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
