@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');
@import './inter.css';

:root {
  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --gap-med: 1.5rem;
  --small-gap: 4rem;
  --big-gap: 4rem;
  --main-content: 50rem;
  --radius-sm: 5px;
  --radius: 15px;
  --inline-radius: 5px;

  /* Typography */
  --font-head: 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  /* Transitions */
  --transition: 150ms ease-in-out;
  --transition-med: 250ms ease-in-out;
  --transition-slow: 300ms ease-in-out;

  /* Light Mode Colors */

  --bg: #fafafa;
  --fg: #141414;
  --accent-1: #f5f3f3;
  --accent-2: #eaeaea;
  --accent-3: #999;
  --accent-4: #888;
  --accent-5: #666;
  --accent-6: #444;
  --accent-7: #333;
  --accent-8: #111;
  --brand: rgb(129, 176, 250);
  --modify: rgb(129, 176, 250);
  --delete: #e53e3e;
  --language: #1a3766;
  --language-alt: #c6dafa81;
  --shadow-color: rgba(224, 226, 230, 0.15);
  --header-bg: rgba(250, 250, 250, 0.85);
  --card: #fff;

  /* Shadows */
  --shadows-sm: 0 1px 2px 0 var(--shadow-color);
  --shadows-base: 0 1px 3px 0 var(--shadow-color),
    0 1px 2px 0 var(--shadow-color);
  --shadows-lg: 0 10px 15px -3px var(--shadow-color),
    0 4px 6px -2px var(--shadow-color);
  --shadows-xl: 0 20px 25px -5px var(--shadow-color),
    0 10px 10px -5px var(--shadow-color);
}

[data-theme='dark'] {
  --bg: #0c1b1b;
  --fg: #fafbfc;
  --accent-1: #222;
  --accent-2: #333;
  --accent-3: #444;
  --accent-4: #666;
  --accent-5: #888;
  --accent-6: #bfbfbf;
  --accent-7: #eaeaea;
  --accent-8: #fafafa;
  --brand: #f5a564;
  --modify: #fafbfc;
  --delete: #fc8181;
  --language: #f5a564;
  --language-alt: #da925717;
  --shadow-color: rgba(0, 0, 0, 0.062);
  --header-bg: #0c1b1bd7;
  --card: #0d1f1f;
}

[data-theme='sepia'] {
  --bg: #f6f1e3;
  --fg: #000;
  --accent-1: #f1ebd9;
  --accent-2: #dad2c0;
  --accent-3: #aaa597;
  --accent-4: #928d81;
  --accent-5: #79766c;
  --accent-6: #615e56;
  --accent-7: #494640;
  --accent-8: #302f2b;
  --brand: #f59e0b;
  --modify: #f59e0b;
  --delete: #e53e3e;
  --language: #652b19;
  --language-alt: #ffe0ac;
  --shadow-color: rgba(197, 189, 170, 0.15);
  --header-bg: rgba(245, 241, 227, 0.85);
  --card: #f8f3e6;
}

[data-theme='nord'] {
  --bg: #242933;
  --fg: #eceff4;
  --accent-1: #2e3440;
  --accent-2: #3b4252;
  --accent-3: #4f596e;
  --accent-4: #525d74;
  --accent-5: #878c97;
  --accent-6: #bac0cc;
  --accent-7: #d8dee9;
  --accent-8: #e5e9f0;
  --brand: #8fbcbb;
  --modify: #8fbcbb;
  --delete: #bf616a;
  --language: #88c0d0;
  --language-alt: #4c566a;
  --shadow-color: rgba(20, 20, 20, 0.15);
  --header-bg: rgba(36, 41, 51, 0.85);
  --card: #2a2f3a;
}

[data-theme='honey'] {
  --brand: #d4ae03;
  --modify: #d4ae03;
  --language: #e7c429;
  --language-alt: #da925717;
}

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--fg);
  color: var(--bg);
}

html {
  line-height: 1.75;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: var(--bg);
  color: var(--fg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
}

p,
li {
  font-size: 1.125rem;
  color: var(--accent-8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head);
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  line-height: 1;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

hr {
  border: none;
  border-bottom: 1px solid var(--accent-2);
}

blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--accent-5);
}

button {
  border: none;
  margin: 0;
  line-height: inherit;
  font-size: 16px;
}

a,
p a,
a.reset {
  outline: none;
  color: var(--brand);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

p a:hover {
  text-decoration: underline;
}

svg {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

p a:hover,
p a:focus,
p a:active,
a.reset:hover,
a.reset:focus {
  color: var(--brand);
}

pre,
code {
  font-family: var(--font-mono);
  font-size: 15px;
  background-color: var(--accent-2);
  padding: 3px 6px;
  border-radius: var(--radius-sm);
}

input,
select,
textarea {
  color: var(--accent-7);
}

input[type='text'],
textarea {
  background-color: var(--accent-1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='text']:disabled {
  border-color: var(--accent-2) !important;
}

input[type='text']:disabled::placeholder {
  color: var(--accent-3) !important;
}

.inactive {
  font-weight: 500 !important;
  text-decoration: none !important;
  color: var(--accent-5);
  transition: all var(--transition);
}

.inactive:hover {
  color: var(--brand);
}

.active {
  font-weight: 500 !important;
  text-decoration: none !important;
  color: var(--fg);
}

.active,
.inactive {
  margin: 0 10px;
}

.active:first-of-type,
.inactive:first-of-type {
  margin-left: 0;
}

.active:last-of-type,
.inactive:last-of-type {
  margin-right: 0;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media print {
  :root {
    --bg: #fff;
    --fg: #000;
    --accent-1: #fafafa;
    --accent-2: #eaeaea;
    --accent-3: #999;
    --accent-4: #888;
    --accent-5: #666;
    --accent-6: #444;
    --accent-7: #333;
    --accent-8: #111;
    --brand: #319795;
    --modify: #319795;
    --delete: #e53e3e;
    --language: #1d4044;
    --language-alt: #b2f5ea;
  }

  * {
    text-shadow: none !important;
  }
}

@media (max-width: 668px) {
  html,
  body {
    font-size: 15px;
  }
}
