.button,
.signbutton,
.loginbutton,
.modifybutton {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition);
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: 500;
}

.button {
  background-color: var(--accent-1);
  color: var(--fg);
}

.button:hover {
  background-color: var(--accent-2);
}
.loginbutton {
  background-color: var(--brand);
  color: var(--bg);
  border: 1px solid var(--brand);
}
.loginbutton:hover {
  background-color: var(--bg);
  color: var(--brand);
}
.signbutton {
  margin: var(--gap-half) 0 var(--gap-half) var(--gap-half);
  background-color: var(--brand);
  color: var(--bg);
  border: 1px solid var(--brand);
  padding: var(--gap-half) var(--gap);
  width: 9rem;
}
.signbutton:hover {
  background-color: var(--bg);
  color: var(--brand);
}
.modifybutton {
  margin: var(--gap-half) 0 var(--gap-half) var(--gap-half);
  background-color: var(--accent-1);
  color: var(--brand);
  border: 1px solid var(--accent-1);
  padding: var(--gap-half) var(--gap);
  width: 9rem;
}
.modifybutton:hover {
  background-color: var(--accent-2);
}
.delete,
.delete:hover {
  color: var(--delete);
}

.modify,
.modify:hover {
  color: var(--modify);
}

.inputWrapper {
  display: flex;
}

.input {
  border: 2px solid var(--accent-2) !important;
  flex: 1;
  padding: var(--gap) var(--gap);
  font-size: 1.125rem;
  border-radius: var(--radius);
  margin: var(--gap-half) 0;
  background-color: var(--accent-1) !important;
}
.input::placeholder {
  color: var(--accent-7) !important;
}

.author {
  color: var(--accent-5);
  font-size: 1.05rem;
}

.dummyauthor svg,
.author svg {
  color: var(--accent-2);
  margin-right: 5px;
}

.skeleton {
  display: block;
}

.dummyauthor {
  display: flex;
  align-items: center;
  margin-top: -3rem;
}

.dummytitle,
.dummydescription {
  height: 25px;
  animation: pulse 2s infinite;
  border-radius: var(--radius-sm);
  background-color: var(--accent-2);
}

.dummytitle {
  width: 25%;
}
.dummydescription {
  width: 75%;
}

@media (max-width: 668px) {
  .inputWrapper {
    flex-direction: column;
  }
  .signbutton,
  .modifybutton {
    margin: var(--gap-half) 0 0 0;
    width: 100%;
  }
}
