.nav,
.mobilenav {
  max-width: var(--main-content);
  height: 5rem;
  margin: var(--gap-double) auto;
  padding: 0 var(--gap-med);
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--header);
  backdrop-filter: saturate(180%) blur(20px);
}

.mobilenav {
  background-color: transparent !important;
  backdrop-filter: none;
  margin: 0 !important;
}

.hamburger {
  z-index: 999;
  margin-right: 1rem;
}

.navlist {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.mobilenavlist {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: var(--header);
  backdrop-filter: saturate(180%) blur(20px);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: var(--big-gap);
  gap: var(--gap-double);
  margin-top: 0;
}

.navlist li,
.mobilenavlist li {
  list-style: none;
  max-width: max-content;
  padding: 0;
  margin: 0;
}

.mobilenavlist li a {
  text-decoration: none;
}
