.nav,
.mobilenav {
  width: 100%;
  height: 7rem;
  z-index: 10;
  margin: 0 auto;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: none;
  transition: height var(--transition-slow), top var(--transition-slow),
    box-shadow var(--transition-slow);
  background-color: var(--header-bg);
  backdrop-filter: saturate(180%) blur(20px);
  -moz-backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.shadow {
  height: 5rem;
  top: 0;
  box-shadow: var(--shadows-lg);
  background-color: var(--bg);
}

.header {
  width: var(--main-content);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: var(--gap-med);
  justify-content: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.open,
.notopen {
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  margin-top: 5rem;
  background-color: var(--bg);
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  transition: 400ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--gap-med);
  font-size: 1.2rem;
}

.open {
  height: 100%;
}

.notopen {
  height: 0vh;
}

.link {
  list-style: none;
  margin: 0 0 0 var(--gap-med);
}

.hamburger {
  margin: 0;
  width: 2rem;
  height: 2rem;
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.inner {
  height: 0.2rem;
  width: 2rem;
  background-color: var(--fg);
  margin: 0.25rem 0;
  border-radius: var(--radius);
  transition: var(--transition-med);
}

.onclick {
  transform: rotate(45deg) translateY(0.5rem);
  transform-origin: center;
}

.onclick2 {
  transform: rotate(-45deg) translateY(-0.5rem);
  transform-origin: center;
}

@media (max-width: 960px) {
  .link {
    margin: 0;
  }
}
