.nav {
  max-width: var(--main-content);
  height: 5rem;
  margin: var(--gap-double) auto;
  padding: 0 var(--gap-med);
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--header);
  backdrop-filter: saturate(180%) blur(20px);
}

.mobilenav {
  width: 100%;
  position: fixed;
  height: 5rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: var(--gap);
  background-color: var(--header);
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color var(--transition-med),
    backdrop-filter var(--transition-med);
}

.mobilenavopen {
  background-color: var(--header);
  backdrop-filter: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap);
}

.notopen {
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  margin-top: 5rem;
  background-color: var(--header) !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  transition: 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--gap-med);
  font-size: 1.2rem;
}

.link {
  list-style: none;
}

.hamburger {
  margin: 0;
  width: 3rem;
  height: 3rem;
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.inner {
  height: 0.2rem;
  width: 2rem;
  background-color: var(--mono-500);
  margin: 0.25rem 0;
  border-radius: var(--radius);
  transition: var(--transition-med);
}

.onclick {
  transform: rotate(45deg) translateY(0.5rem);
  transform-origin: center;
}

.onclick2 {
  transform: rotate(-45deg) translateY(-0.5rem);
  transform-origin: center;
}
