.landing section {
  margin: var(--space-xl) 0;
}

.landing section:first-of-type {
  margin-top: 0;
}

.hero header {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  max-width: 32rem;
  margin-bottom: var(--space-md);
}

.herocontent {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.greeting {
  font-weight: 700;
}

.name {
  background: linear-gradient(165deg, var(--start-color), var(--end-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hello {
  /* This rule is needed because
  spans are an inline element
  which means they do not respect
  the width property which stops
  framer motion from animating */
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  height: 54.6px;
}

.profile {
  width: 8rem;
  height: auto;
  border-radius: var(--radius-full);
}

.experiences {
  display: flex;
  align-items: flex-start;
  gap: var(--space-md);
}

.stackwrapper {
  position: sticky;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.discover button:not(.herogradientbutton) {
  background-color: transparent;
}

.discover:hover button:hover:not(.herogradientbutton) {
  background-color: var(--button-bg-alt);
}

.discover svg {
  transition: translate var(--transition-slowest);
}

.discover:hover svg {
  translate: 4px 0;
}

@media screen and (max-width: 868px) {
  .herocontent {
    flex-direction: column;
    gap: var(--space-md);
    align-items: flex-start;
  }
  .intro {
    flex-direction: column;
    gap: 0;
  }
  .experiences {
    flex-direction: column;
    align-items: flex-start;
  }
  .profilewrapper {
    align-items: flex-start;
  }
  .stackwrapper {
    position: unset;
    top: unset;
  }
}
