.landing section {
  margin: var(--space-xl) 0;
}

.landing section:first-of-type {
  margin-top: 0;
}

.hero header {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  max-width: 32rem;
  margin-bottom: var(--space-md);
}

.greeting {
  font-weight: 700;
}

.name {
  background: linear-gradient(165deg, var(--start-color), var(--end-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hello {
  /* This rule is needed because
  spans are an inline element
  which means they do not respect
  the width property which stops
  framer motion from animating */
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
}

.profile {
  width: 8rem;
  height: auto;
  border-radius: var(--radius-full);
}

.experiences {
  display: flex;
  align-items: flex-start;
  gap: var(--space-md);
}

.stackwrapper {
  position: sticky;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.herobuttoncontainer {
  position: relative;
  max-width: max-content;
  min-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.herobuttonbg {
  background: linear-gradient(165deg, var(--start-color), var(--end-color));
  border-radius: 32px;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}

.herobuttonbg:before {
  background: linear-gradient(165deg, var(--start-color), var(--end-color));
  border: 8px solid transparent;
  border-radius: 32px;
  background-clip: padding-box;
  content: "";
  filter: blur(36px);
  height: 100%;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.herogradientbutton {
  background-color: var(--bg);
  background-clip: padding-box;
  border: 2px solid transparent;
  box-shadow: 0 4px 4px 0 #00000010;
  color: var(--heading-fg);
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.herogradientbutton:hover {
  background-color: transparent;
  color: var(--bg);
}

.discover button:not(.herogradientbutton) {
  background-color: transparent;
}

.discover:hover button:hover:not(.herogradientbutton) {
  background-color: var(--button-bg-alt);
}

.discover svg {
  transition: translate var(--transition-slowest);
}

.discover:hover svg {
  translate: 4px 0;
}

@media screen and (max-width: 868px) {
  .intro {
    flex-direction: column;
    gap: 0;
  }
  .experiences {
    flex-direction: column;
    align-items: flex-start;
  }
  .profilewrapper {
    align-items: flex-start;
  }
  .stackwrapper {
    position: unset;
    top: unset;
  }
}
