.hero {
  display: flex;
  align-items: center;
}
.content {
  padding-right: var(--gap-double);
}

.rounded {
  border-radius: 50%;
}

@media (max-width: 668px) {
  .hero {
    flex-direction: column;
  }
  .content {
    padding-right: 0;
    padding-bottom: var(--gap-double);
  }
  .title {
    line-height: 1.5;
  }
}
