.hero {
  display: flex;
  align-items: center;
}
.content {
  padding-right: var(--gap-double);
}

.rounded {
  border-radius: 50%;
}

@media (max-width: 960px) {
  .hero {
    flex-direction: column-reverse;
  }
  .content {
    padding-top: var(--gap-half);
    padding-right: 0;
  }
  .title {
    line-height: 1.5;
  }
}
