.main {
  max-width: var(--main-content);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  padding: 0 var(--gap-med);
}

@media (max-width: 668px) {
  .main {
    margin: 6rem auto 0;
  }
}
