/* Projects Loader */

.projectskeleton {
  border: 2px solid var(--accent-1);
  border-radius: var(--radius);
  padding: var(--gap);
  margin-bottom: var(--gap-half);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--bg);
  transition: all var(--transition);
}

.projectdummytitle,
.projectdummydescription,
.projectdummylanguage {
  height: 25px;
  margin: var(--gap-half) 0 !important;
  animation: pulse 2s infinite;
  border-radius: var(--radius-sm);
  background-color: var(--accent-2);
}

.projectdummytitle {
  width: 50%;
}
.projectdummydescription {
  width: 75%;
}
.projectdummylanguage {
  width: 10%;
}

/* Guestbook Loader */

.guestbookskeleton {
  display: block;
}

.guestbookdummyauthor {
  display: flex;
  align-items: center;
}

.guestbookdummytitle,
.guestbookdummydescription {
  height: 25px;
  animation: pulse 2s infinite;
  margin: 0.05 0 !important;
  border-radius: var(--radius-sm);
  background-color: var(--accent-2);
}

.guestbookdummytitle {
  width: 25%;
}
.guestbookdummydescription {
  width: 75%;
}

.guestbookdummyauthor svg {
  color: var(--accent-2);
  margin-right: 5px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
