.featured {
  margin: 0;
  gap: var(--gap-med);
}

.featuredimagewrapper {
  margin: 0;
  box-shadow: none;
  transition: all 200ms ease-in-out;
}

.featuredimagewrapper:hover {
  box-shadow: var(--shadows-lg) !important;
}

.featuredimage {
  border-radius: var(--radius);
}

.cardlist {
  display: flex;
  flex-direction: column;
  gap: var(--gap-half);
}

.card {
  border-radius: var(--radius);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--card);
  transition: all var(--transition);
  box-shadow: var(--shadows-lg);
  gap: var(--gap-half);
}

.card:hover {
  box-shadow: var(--shadows);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  text-decoration: none !important;
}

.group:hover .title {
  text-decoration-color: var(--mono-500);
}

.title {
  outline: none;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--mono-200);
  transition: text-decoration-color var(--transition);
}

.stars {
  display: flex;
  align-items: center;
}
.stars svg {
  margin: 0 0 1px 2px;
}

.description {
  margin: 0;
  font-weight: normal;
}

.language {
  font-size: 1rem;
  background-color: var(--mono-100);
  max-width: max-content;
  padding: var(--gap-quarter) var(--gap-half);
  border-radius: var(--radius-sm);
  color: var(--mono-800);
}

.searchWrapper {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  top: 25px;
  right: 15px;
  color: var(--mono-400) !important;
}

.date {
  color: var(--mono-500);
  font-weight: 400;
  margin: 0;
}
