.themeWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-half);
}

.themeItem {
  width: 100%;
  padding: var(--gap-quarter);
  background-color: var(--accent-1);
  color: var(--fg);
  border-radius: var(--radius);
  cursor: pointer;
  padding: var(--gap-half);
  transition: all 150ms ease-in-out;
  border: 3px solid var(--accent-1);
}

.themeItem:hover {
  background-color: var(--accent-2);
  border: 3px solid var(--accent-2);
  box-shadow: 0 3.3px 6.7px rgba(0, 0, 0, 0.018),
    0 11.2px 22.3px rgba(0, 0, 0, 0.027), 0 25px 100px rgba(0, 0, 0, 0.05);
}
