.themeWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-half);
}

.themeItem {
  width: 100%;
  padding: var(--gap-quarter);
  background-color: var(--card);
  color: var(--fg);
  border-radius: var(--radius);
  cursor: pointer;
  padding: var(--gap-half);
  transition: all var(--transition);
}

.themeItem:hover {
  box-shadow: var(--shadows);
}
