.list {
  padding: 0;
  margin: 0;
  gap: var(--gap-half);
}
.step {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
}
.title {
  margin: 0;
  line-height: 1;
  font-weight: 500;
}
.icon {
  margin: -1px 5px 0 0;
  font-weight: 500;
}

.icon,
.chevron {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}
.content {
  color: var(--mono-500);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
