.track {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.info {
  display: flex;
  align-items: center;
}
.albumArt {
  max-width: 5rem !important;
  max-height: 5rem !important;
  margin-right: 1rem;
  border-radius: var(--radius-sm);
  /* To account for unequal height via the next/image component */
  transform: translateY(5px);
}

.title {
  margin: 0;
}
.title:hover {
  text-decoration: underline;
}

.artist {
  margin: 0;
  color: var(--accent-6);
}

/* .title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
} */
