.wrapper {
  display: flex;
  transition: all var(--tran-slow);
  gap: var(--gap);
}

.artist {
  font-size: 1rem;
  font-weight: 550;
}

.description {
  color: var(--fg-mute);
}

.coverArt {
  border-radius: var(--radius-full);
}

.rounded {
  border-radius: var(--radius-full);
}
