.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  nav {
    position: relative;
    background-color: var(--lifted-background);
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    box-shadow: var(--nav-shadow);
    overflow: hidden;
    border-radius: 24px;
    .linkwrapper {
      display: flex;
      align-items: center;
      padding: var(--space-xs);
      z-index: 2;
      border-radius: 24px;
    }
    a {
      position: relative;
      text-decoration: none;
      padding: var(--space-xs) var(--space-md);
      color: var(--secondary-foreground);
      transition: color var(--transition-slow);
      user-select: none;
      &:hover {
        color: var(--primary-foreground);
      }
      &.active {
        color: var(--primary-foreground);
      }
      & .indicator {
        z-index: -1;
        inset: 0;
        position: absolute;
        background-color: var(--background);
      }
    }
  }
}
