.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  nav {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 24px;
    & a {
      padding: 4px;
      z-index: 2;
      position: relative;
      text-decoration: none;
      color: var(--sub-fg);
      transition: color var(--transition-slow);
      user-select: none;
      &:hover {
        color: var(--heading-fg);
      }
      &.active {
        color: var(--heading-fg);
      }
      & .indicator {
        z-index: -1;
        height: 2px;
        width: 100%;
        position: absolute;
        translate: -4px 0px;
        top: 50%;
        background-color: var(--heading-fg);
      }
    }
  }
}
