.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--card-bg);
  padding: 1rem 1.2rem;
  border: 2px solid transparent;
  border-radius: var(--radius);
  transition: scale var(--transition-cubic-out),
    border-radius var(--transition-cubic-out),
    background-color var(--transition-cubic-out),
    color var(--transition-cubic-out);
  cursor: pointer;
  color: var(--fg);
  align-items: unset;
  max-width: unset;
}

.heading {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-sm);
}

.analytics {
  display: flex;
  align-items: center;
  transition: color var(--transition-cubic-out);
}

.analytics span {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  transition: color var(--transition);
}

.badge {
  background-color: var(--forest-light);
  color: var(--paper-8);
  max-width: max-content;
  border-radius: 99px;
  padding: 0.2rem 0.6rem;
  margin: var(--space-sm) 0;
  font-weight: 500;
  transition: color var(--transition-cubic-out),
    background-color var(--transition-cubic-out);
}

.date {
  color: var(--paper-6);
  transition: color var(--transition-cubic-out);
}

.description {
  margin: var(--space) 0;
  font-weight: 500;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-sm);
}

.link span {
  color: var(--forest);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  max-width: max-content;
  gap: var(--space-2xs);
  transition: color var(--transition-cubic-out);
  font-weight: 550;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  padding: 0;
  margin: 0;
  margin: 0 0 var(--space) 0;
}

.tag {
  font-size: var(--font-size-sm);
  color: var(--paper-6);
  list-style: none;
  padding: 0;
  margin: 0;
  transition: color var(--transition-cubic-out);
}

.icon {
  width: var(--font-size-sm);
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    scale: 1.05;
    border-radius: 24px;
    color: unset;
    background-color: var(--forest);
    color: var(--paper-2);
  }
  .card:hover .badge {
    background-color: var(--forest-dark);
    color: var(--paper-1);
  }

  .card:hover .title {
    color: var(--paper-1);
  }

  .card:hover .tag,
  .card:hover .date {
    color: var(--paper-2);
  }

  .card:hover .link span {
    color: var(--paper-1);
  }
  .card:active {
    scale: 0.99;
    background-color: var(--forest-dark);
    color: var(--paper-2);
  }

  .card:active .badge {
    background-color: var(--forest);
    color: var(--paper-1);
  }

  .card:active .title {
    color: var(--paper-1);
  }

  .card:active .tag,
  .card:active .date {
    color: var(--paper-2);
  }

  .card:active .link span {
    color: var(--paper-1);
  }
}
