.hello {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .greeting,
  .name {
    margin-block-start: 0;
    display: inline-block;
  }
  .greeting {
    color: var(--brand);
    overflow: hidden;
    white-space: nowrap;
  }
}
